<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Bundle ID</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.questionpro.cx</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CodePushDeploymentKey</key>
	<string>gPQhNs6OPDE9yJgEyYb0T_VX7jALi0WAojhya</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<true/>
	<key>FirebaseDynamicLinksCustomDomains</key>
	<array>
		<string>https://mobileapps.questionpro.com/cx/</string>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>itms-apps</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UIAppFonts</key>
	<array>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>AntDesign.ttf</string>
		<string>FiraSans-Bold.otf</string>
		<string>FiraSans-Medium.otf</string>
		<string>FiraSans-Light.otf</string>
		<string>FiraSans-Regular.otf</string>
		<string>FiraSans-SemiBold.otf</string>
		<string>icomoon.ttf</string>
		<string>FiraSans-BoldItalic.otf</string>
		<string>FiraSans-Book.otf</string>
		<string>FiraSans-BookItalic.otf</string>
		<string>FiraSans-Eight.otf</string>
		<string>FiraSans-EightItalic.otf</string>
		<string>FiraSans-ExtraBold.otf</string>
		<string>FiraSans-ExtraBoldItalic.otf</string>
		<string>FiraSans-ExtraLight.otf</string>
		<string>FiraSans-ExtraLightItalic.otf</string>
		<string>FiraSans-Four.otf</string>
		<string>FiraSans-FourItalic.otf</string>
		<string>FiraSans-Hair.otf</string>
		<string>FiraSans-HairItalic.otf</string>
		<string>FiraSans-Heavy.otf</string>
		<string>FiraSans-HeavyItalic.otf</string>
		<string>FiraSans-Italic.otf</string>
		<string>FiraSans-LightItalic.otf</string>
		<string>FiraSans-MediumItalic.otf</string>
		<string>firasans-regularitalic.ttf</string>
		<string>FiraSans-SemiBoldItalic.otf</string>
		<string>FiraSans-Thin.otf</string>
		<string>FiraSans-ThinItalic.otf</string>
		<string>FiraSans-Two.otf</string>
		<string>FiraSans-TwoItalic.otf</string>
		<string>FiraSans-Ultra.otf</string>
		<string>FiraSans-UltraItalic.otf</string>
		<string>FiraSans-UltraLight.otf</string>
		<string>FiraSans-UltraLightItalic.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>CXLaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
