node_modules/
lib/
example/node_modules/
*.log
.DS_Store
*.tgz
coverage/
.nyc_output/
.vscode/
.idea/
android/build/
android/.gradle/
android/gradle/
android/gradlew
android/gradlew.bat
ios/build/
ios/Pods/
ios/*.xcworkspace
ios/*.xcuserdata
