<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.questionpro.login.CompanyCodeActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar.Transparent"
            android:configChanges="screenSize|orientation"
            android:windowSoftInputMode="adjustResize">
        </activity>
    </application>
</manifest>
