<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>isWhiteLabel</key>
	<false/>
	<key>kGATrackID</key>
	<string>UA-30165-23</string>
	<key>kGlobalDataServiceHost</key>
	<string>https://api.questionpro.com</string>
	<key>kServiceHost</key>
	<string>https://api.questionpro.com</string>
	<key>kLoginService</key>
	<string>/a/nativehtml/cx.auth.CXLogin</string>
	<key>kResetPasswordService</key>
	<string>/a/nativehtml/cx.auth.CXForgotPasswordOTP</string>
	<key>kOTPService</key>
	<string>/a/nativehtml/cx.auth.ValidateCXUserOTP</string>
	<key>kUpdatePasswordService</key>
	<string>/a/nativehtml/cx.auth.CXUpdatePassword</string>
	<key>kPushNotificationService</key>
	<string>/a/nativehtml/flashlet.general.FlashLetRegisterPushToken</string>
	<key>kForgotPasswordContent</key>
	<string>Please enter the details below and hit Reset Password button to reset your password.</string>
	<key>kUpdatePasswordContent</key>
	<string>Please enter the new password and hit the update button to change your password.</string>
	<key>kHelpButtonTitle</key>
	<string>What is Company Code?</string>
	<key>kHelpButtonMessage</key>
	<string>Your Company Code is the Unique Identification Number/Text for your organisation&apos;s Customer Experience account. If you don&apos;t have it yet, please contact your Supervisor for the correct company code.</string>
	<key>AccessCode</key>
	<false/>
	<key>GlobalLogin</key>
	<false/>
	<key>AccessCodePlaceHolder</key>
	<string>Company Code</string>
	<key>navigationBarColor</key>
	<string>#003566</string>
	<key>buttonBG</key>
	<string>#404A5B</string>
	<key>buttonTitleColor</key>
	<string>#FFFFFF</string>
	<key>kSocialSignIn</key>
	<false/>
	<key>isGoogleIntegrationEnable</key>
	<false/>
	<key>isSlackntegrationEnable</key>
	<false/>
	<key>isOfficeIntegrationEnable</key>
	<false/>
	<key>dataUploadWhileLogout</key>
	<false/>
	<key>useTranslationsForTabs</key>
	<string>true</string>
	<key>leaderBoardMenu</key>
	<array>
		<string>recent</string>
		<string>popular</string>
		<string>posted_by_me</string>
		<string>favorites</string>
	</array>
	<key>topicTabMenu</key>
	<array>
		<string>recent</string>
		<string>popular</string>
		<string>posted_by_me</string>
		<string>favorites</string>
	</array>
	<key>collabrateMenu</key>
	<array>
		<string>topic</string>
		<string>ideaboard</string>
		<string>chat</string>
	</array>
	<key>profileTabMenu</key>
	<array>
		<string>myProfile</string>
		<string>myRewards</string>
		<string>shareWithFriend</string>
	</array>
</dict>
</plist>
