<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>header</key>
		<string>Connect and engage with your customers. Anytime, anywhere.</string>
		<key>description</key>
		<string>Communicate with customers or prospects through a wide selection of feedback channels at every touchpoint anywhere, no matter the device.</string>
		<key>image</key>
		<string>MarketingOne</string>
	</dict>
	<dict>
		<key>header</key>
		<string>Take full control of your customer’s journey</string>
		<key>description</key>
		<string>Analyze your customer’s 360 experience and quickly identify actionable insights and trends.</string>
		<key>image</key>
		<string>MarketingTwo</string>
	</dict>
	<dict>
		<key>header</key>
		<string>Manage real-time analytics in one dashboard</string>
		<key>description</key>
		<string>Easily monitor your business with the role-based, customizable dashboard from anywhere.</string>
		<key>image</key>
		<string>MarketingThree</string>
	</dict>
	<dict>
		<key>header</key>
		<string>Fuel growth organically</string>
		<key>description</key>
		<string>Identify your best customers and help them become your brand ambassadors through social referrals with our unique Promoter Amplification system.</string>
		<key>image</key>
		<string>MarketingFour</string>
	</dict>
</array>
</plist>
