<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>163493809530-0r5u82e9g1iufun8fs0kcj0t1pblgaaq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBs40fZrZJu2cJ9XsMkpcdqJ6lq9ew66C8</string>
	<key>GCM_SENDER_ID</key>
	<string>163493809530</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.questionpro.cxonthego</string>
	<key>PROJECT_ID</key>
	<string>questionpro-offline-surveys</string>
	<key>STORAGE_BUCKET</key>
	<string>questionpro-offline-surveys.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:163493809530:ios:169588f99effd06703dac3</string>
	<key>DATABASE_URL</key>
	<string>https://questionpro-offline-surveys.firebaseio.com</string>
</dict>
</plist>