<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>isWhiteLabel</key>
	<false/>
	<key>kGATrackID</key>
	<string>UA-30165-22</string>
	<key>kGlobalDataServiceHost</key>
	<string>https://wflabs.questionpro.com</string>
	<key>kServiceHost</key>
	<string>https://wflabs.questionpro.com</string>
	<key>kLoginService</key>
	<string>/a/nativehtml/flashlet.auth.FlashLetLogin</string>
	<key>kResetPasswordService</key>
	<string>/a/nativehtml/panel.auth.PanelMemberForgotPassword</string>
	<key>kOTPService</key>
	<string>/a/nativehtml/panel.auth.ValidatePanelMemberOTP</string>
	<key>kUpdatePasswordService</key>
	<string>/a/nativehtml/panel.auth.PanelMemberUpdatePassword</string>
	<key>kPushNotificationService</key>
	<string>/a/nativehtml/flashlet.general.FlashLetRegisterPushToken</string>
	<key>kForgotPasswordContent</key>
	<string>Please enter the details below and hit Reset Password button to reset your password.</string>
	<key>kUpdatePasswordContent</key>
	<string>Please enter the new password and hit the update button to change your password.</string>
	<key>kHelpButtonTitle</key>
	<string>What is Company Code?</string>
	<key>kHelpButtonMessage</key>
	<string>Your Workforce Company Code is the Unique Identification Number/Text for your organisation&apos;s Workforce account. If you don&apos;t have it yet, please contact your HR/Admin for the correct company code.</string>
	<key>AccessCode</key>
	<true/>
	<key>GlobalLogin</key>
	<false/>
	<key>AccessCodePlaceHolder</key>
	<string>Company Code</string>
	<key>navigationBarColor</key>
	<string>#003566</string>
	<key>buttonBG</key>
	<string>#404A5B</string>
	<key>buttonTitleColor</key>
	<string>#FFFFFF</string>
	<key>kGoogleClientID</key>
	<string>393369517895-55690b5qo33u8qpgolo3uok5lgvit86d.apps.googleusercontent.com</string>
	<key>kGoogleLoginURL</key>
	<string>https://www.googleapis.com/auth/plus.login</string>
	<key>kConsumerKey</key>
	<string>3409868097.145985904821</string>
	<key>kConsumerSecretKey</key>
	<string>4c1226b41fedd29f485eafd28f56ce3b</string>
	<key>kSocialSignIn</key>
	<true/>
	<key>isGoogleIntegrationEnable</key>
	<true/>
	<key>isSlackntegrationEnable</key>
	<true/>
	<key>isOfficeIntegrationEnable</key>
	<true/>
	<key>dataUploadWhileLogout</key>
	<false/>
	<key>useTranslationsForTabs</key>
	<string>true</string>
	<key>leaderBoardMenu</key>
	<array>
		<string>recent</string>
		<string>popular</string>
		<string>posted_by_me</string>
		<string>favorites</string>
	</array>
	<key>topicTabMenu</key>
	<array>
		<string>recent</string>
		<string>popular</string>
		<string>posted_by_me</string>
		<string>favorites</string>
	</array>
	<key>collabrateMenu</key>
	<array>
		<string>topic</string>
		<string>ideaboard</string>
		<string>chat</string>
	</array>
	<key>profileTabMenu</key>
	<array>
		<string>myProfile</string>
		<string>myRewards</string>
		<string>shareWithFriend</string>
	</array>
</dict>
</plist>
