<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>header</key>
		<string>Understand the pulse of your organization</string>
		<key>description</key>
		<string>Prioritize actions quickly based on employee feedback - in real-time.</string>
		<key>image</key>
		<string>MarketingOne</string>
	</dict>
	<dict>
		<key>header</key>
		<string>Give your employees a voice</string>
		<key>description</key>
		<string>Allow employees to express how they feel.</string>
		<key>image</key>
		<string>MarketingTwo</string>
	</dict>
	<dict>
		<key>header</key>
		<string>Push Notifications </string>
		<key>description</key>
		<string>Connect with your employees in real-time with push messaging and notifications.</string>
		<key>image</key>
		<string>MarketingThree</string>
	</dict>
</array>
</plist>
