<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Home</string>
		<key>Image</key>
		<string>HomeIcon</string>
		<key>Count</key>
		<string></string>
		<key>Type</key>
		<string>Dynamic</string>
	</dict>
    <dict>
        <key>Title</key>
        <string>Pulse</string>
        <key>Image</key>
        <string>Pulse</string>
        <key>Count</key>
        <string></string>
        <key>Type</key>
        <string>Dynamic</string>
    </dict>
	<dict>
		<key>Title</key>
		<string>Profile</string>
		<key>Image</key>
		<string>ProfileIcon</string>
		<key>Count</key>
		<string></string>
		<key>Type</key>
		<string>Dynamic</string>
	</dict>
	<dict>
		<key>Type</key>
		<string>Dynamic</string>
		<key>Count</key>
		<string></string>
		<key>Image</key>
		<string>OrgTreeIcon</string>
		<key>Title</key>
		<string>Org Chart</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Employees</string>
		<key>Image</key>
		<string>EmployIcon</string>
		<key>Count</key>
		<string></string>
		<key>Type</key>
		<string>Dynamic</string>
	</dict>
    <dict>
        <key>Title</key>
        <string>Ask</string>
        <key>Image</key>
        <string>Ask</string>
        <key>Count</key>
        <string></string>
        <key>Type</key>
        <string>Dynamic</string>
    </dict>
    <dict>
         <key>Title</key>
         <string>History</string>
         <key>Image</key>
         <string>History</string>
         <key>Count</key>
         <string></string>
         <key>Type</key>
         <string>Dynamic</string>
     </dict>
	<dict>
		<key>Title</key>
		<string>Feedback</string>
		<key>Image</key>
		<string>FeedbackIcon</string>
		<key>Count</key>
		<string></string>
		<key>Type</key>
		<string>Dynamic</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Performance Review</string>
		<key>Image</key>
		<string>PerfReviewIcon</string>
		<key>Count</key>
		<string></string>
		<key>Type</key>
		<string>Dynamic</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Logout</string>
		<key>Image</key>
		<string>LogoutIcon</string>
		<key>Count</key>
		<string></string>
		<key>Type</key>
		<string>Logout</string>
	</dict>
</array>
</plist>
