<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>isWhiteLabel</key>
	<true/>
	<key>kGATrackID</key>
	<string>UA-30165-24</string>
	<key>kPanelAPIKey</key>
	<string></string>
	<key>kGlobalDataServiceHost</key>
	<string>https://api.surveyanalytics.com/</string>
	<key>kServiceHost</key>
	<string>https://api.surveyanalytics.com/</string>
	<key>kLoginService</key>
	<string>/a/nativehtml/panel.auth.PanelLogin</string>
	<key>kResetPasswordService</key>
	<string>/a/nativehtml/panel.auth.PanelMemberForgotPassword</string>
	<key>kOTPService</key>
	<string>/a/nativehtml/panel.auth.ValidatePanelMemberOTP</string>
	<key>kUpdatePasswordService</key>
	<string>/a/nativehtml/panel.auth.PanelMemberUpdatePassword</string>
	<key>kPushNotificationService</key>
	<string>/a/nativehtml/flashlet.general.FlashLetRegisterPushToken</string>
	<key>kForgotPasswordContent</key>
	<string>Please enter the details below and hit Reset Password button to reset your password.</string>
	<key>kUpdatePasswordContent</key>
	<string>Please enter the new password and hit the Update button to change your password.</string>
	<key>kHelpButtonTitle</key>
	<string>What is Access Code?</string>
	<key>kHelpButtonMessage</key>
	<string>Your Panel Access Code is the Unique Identification Number/Text for your respective Panel. If you don&apos;t have it yet, please contact your Panel Admin for the correct access code.</string>
	<key>AccessCode</key>
	<true/>
	<key>GlobalLogin</key>
	<false/>
	<key>AccessCodePlaceHolder</key>
	<string>Access Code</string>
	<key>navigationBarColor</key>
	<string>#47a0dc</string>
	<key>buttonBG</key>
	<string>#ea8606</string>
	<key>buttonTitleColor</key>
	<string>#FFFFFF</string>
	<key>kSocialSignIn</key>
	<false/>
	<key>isGoogleIntegrationEnable</key>
	<false/>
	<key>isSlackntegrationEnable</key>
	<false/>
	<key>isOfficeIntegrationEnable</key>
	<false/>
	<key>dataUploadWhileLogout</key>
	<false/>
	<key>hasSignUp</key>
	<true/>
	<key>kSignupService</key>
	<string>/a/nativehtml/panel.auth.PanelMemberSignUp</string>
	<key>useTranslationsForTabs</key>
	<string>false</string>
	<key>leaderBoardMenu</key>
	<array>
		<string>All Trends &amp; Ideas</string>
		<string>Popular Trends &amp; Ideas</string>
        <string>My Trends &amp; Ideas</string>
        <string>Favorites</string>
	</array>
    <key>topicTabMenu</key>
       <array>
           <string>ALL CONTRACT TOPICS</string>
           <string>POPULAR CONTRACT TOPICS</string>
           <string>MY CONTRACT TOPICS</string>
           <string>Favorites</string>
       </array>
       <key>collabrateMenu</key>
       <array>
       <string>Contract Topics</string>
       <string>Trends &amp; Ideas</string>
       <string>Chat</string>
       </array>
       <key>profileTabMenu</key>
       <array>
           <string>myProfile</string>
           <string>myRewards</string>
           <string>shareWithFriend</string>
       </array>
</dict>
</plist>
