<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Home</string>
		<key>Image</key>
		<string>HomeIcon</string>
		<key>Type</key>
		<string>Dynamic</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Logout</string>
		<key>Image</key>
		<string>LogoutIcon</string>
		<key>Type</key>
		<string>Logout</string>
	</dict>
</array>
</plist>
