<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Home</string>
		<key>Image</key>
		<string>HomeIcon</string>
		<key>Type</key>
		<string>Dynamic</string>
	</dict>
    <dict>
        <key>Title</key>
        <string>Surveys</string>
        <key>Image</key>
        <string>SurveyIcon</string>
        <key>Type</key>
        <string>Dynamic</string>
    </dict>
	<dict>
		<key>Title</key>
		<string>Collaborate</string>
		<key>Image</key>
		<string>CollaborateIcon</string>
		<key>Type</key>
		<string>Dynamic</string>
	</dict>
    <dict>
        <key>Title</key>
        <string>Documents</string>
        <key>Image</key>
        <string>Document</string>
        <key>Type</key>
        <string>Dynamic</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Events</string>
        <key>Image</key>
        <string>events</string>
        <key>Type</key>
        <string>Dynamic</string>
    </dict>
	<dict>
		<key>Title</key>
		<string>Profile</string>
		<key>Image</key>
		<string>ProfileIcon</string>
		<key>Type</key>
		<string>Dynamic</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Leaderboard</string>
		<key>Image</key>
		<string>LeaderboardIcon</string>
		<key>Type</key>
		<string>Dynamic</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Logout</string>
		<key>Image</key>
		<string>LogoutIcon</string>
		<key>Type</key>
		<string>Logout</string>
	</dict>
</array>
</plist>
