<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>header</key>
		<string>WELCOME</string>
		<key>description</key>
		<string>Together we can empower excellence and impact care.</string>
		<key>image</key>
		<string>MarketingOne</string>
	</dict>
	<dict>
		<key>header</key>
		<string>COLLABORATIONS</string>
		<key>description</key>
		<string>Collaborate with your peers to provide your knowledge and expertise in the product selection process.</string>
		<key>image</key>
		<string>MarketingTwo</string>
	</dict>
	<dict>
		<key>header</key>
		<string>PROFILE</string>
		<key>description</key>
		<string>Edit and manage your profile to communicate your personal brand.</string>
		<key>image</key>
		<string>MarketingThree</string>
	</dict>
</array>
</plist>
